.bb-toggle-control {
  width: 100%;
  background-color: var(--bb-bg-primary);
  border: 1px solid var(--bb-border-color-light);
  border-radius: var(--bb-radius-md);
  padding: var(--bb-spacing-lg);

  &__header {
    display: flex;
    justify-content: space-between;
    gap: var(--bb-spacing-2xl, 24px);
    align-items: center;
    transition: all var(--bb-transition-base, 0.2s ease);

    &:not(:last-child) {
      margin-bottom: var(--bb-spacing-md, 12px);
    }
  }

  &__label {
    flex: 1;
    font-weight: 700;
    color: rgba(var(--bb-text-primary-rgb), 0.5);
    transition: color var(--bb-transition-base, 0.2s ease);
    cursor: pointer;
    user-select: none;

    &--is-active {
      color: var(--bb-text-primary);
    }
  }

  &__button {
    position: relative;
    width: 48px;
    min-width: 48px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;

    &-inner {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background-color: rgba(var(--bb-text-primary-rgb), 0.25);
      transition: background-color var(--bb-transition-base, 0.2s ease);
    }

    &--is-active &-inner {
      background-color: var(--bb-color-primary);
    }

    &-circle {
      position: absolute;
      left: 2px;
      top: 50%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      transform: translateY(-50%) translateX(0);
      transition: transform var(--bb-transition-base, 0.2s ease);
    }

    &--is-active &-circle {
      left: 100%;
      transform: translateY(-50%) translateX(calc(-100% - 2px));
    }
  }

  &__body {
    margin-top: var(--bb-spacing-lg, 16px);

    display: flex;
    flex-direction: column;
    gap: var(--bb-spacing-lg);
  }
}
